/*  your css code here. If applicable */
body{
	background-color: #f8f8f8;
}
.book-library{
	background-color: #ffffff;
	width: 90%;
	margin-left: 30px;
	padding-left: 30px;
}
.book > p{
	color: #777777;
}
.book .price-block {
  background-color: #2ecc71; /* required green */
  color: #ffffff;
  padding: 8px 12px;
  border-radius: 6px;
  display: inline-block;
  width: 95%
}
.price-btn{
	background-color: #2ecc71;
	color: #fff;
	border-style: none;
	width: 95%
}