/*  your css code here. If applicable */
body{
	background-color: #f8f8f8;
}
.book-library{
	background-color: #ffffff;
	width: 90%;
	margin-left: 30px;
	padding-left: 30px;
}
.book > p{
	color: #777777;
}
/* .book > button{
	background-color: #2ecc71;
	color: #fff;
	border-style: none;
	width: 95%
} */
.price-btn{
	background-color: #2ecc71;
	color: #fff;
	border-style: none;
	width: 95%
}